{
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "extends": [
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "standard"
  ],
  "rules": {
    "no-console": "off",
    "class-methods-use-this": ["error", { "exceptMethods": ["render"]}]
  }
}
